@import "tailwindcss";

@tailwindcss/preflight;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1e40af;
  --color-secondary: #2563eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
}

@layer components {
  .input {
  @apply w-full h-9 px-2 border border-gray-300 rounded-md text-sm bg-white
         focus:outline-none focus:ring-1 focus:ring-primary ;
}



  .label {
    @apply text-sm font-medium text-gray-700;
  }
}